Datasets/*
!Datasets/datasets.ipynb
!Datasets/tts-datasets.ipynb
!Datasets/asr-datasets.ipynb

Finetune/mms_adapters/*
Finetune/finetune-hf-vits
Finetune/TTS

!Finetune/mms_adapters/mms_adapters.ipynb
!Finetune/mms_adapters/mms_adapters_inference.ipynb
!Finetune/mms_adapters/mms_adapters_train.ipynb
!Finetune/mms_adapters/vocab.json

Finetune/vits_mms_finetune/*
!Finetune/vits_mms_finetune/config/

.DS_Store
labs.ipynb
.idea

*.wav
*.mp3

Note/*