Datasets/*
!Datasets/datasets.ipynb

Finetune/mms_adapters/*
Finetune/finetune-hf-vits

!Finetune/mms_adapters/mms_adapters.ipynb
!Finetune/mms_adapters/vocab.json

Finetune/vits_mms_finetune/*
!Finetune/vits_mms_finetune/config/

.DS_Store
labs.ipynb

*.wav
*.mp3